<div class="modal show d-block fade in" *ngIf="show" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectlabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="createProjectLabel">Create a new Project</h4>
                <button (click)="dismissSC.add($event)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="createNewProject(projectName.value,projectDescription.value)">
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input #projectName type="text" class="form-control" id="projectName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="projectDescription">Project Description</label>
                        <textarea #projectDescription class="form-control" id="projectDescription" placeholder="Description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="createNewProject(projectName.value,projectDescription.value)" type="button" class="btn btn-success">Create Project</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="dismissSC.add($event)">Close</button>
            </div>
        </div>
    </div>
</div>