<div class="card pyro-panel d-flex flex-column h-100" #explorerEl>
    <div class="card-header d-flex flex-row align-items-center pyro-panel-heading">
        <div class="ml-auto flex-shrink-0 btn-group btn-group-sm" role="group">
            <button
                    type="button"
                    class="btn"
                    data-toggle="tooltip" data-placement="bottom" title="Collapse all folders"
                    (click)="collapseAll($event)">
                <i class="fas fa-folder"></i>
            </button>
            <button
                    type="button"
                    class="btn"
                    data-toggle="tooltip" data-placement="bottom" title="Expand all folders"
                    (click)="expandAll($event)">
                <i class="fas fa-folder-open"></i>
            </button>
        </div>
    </div>
    <div class="card-body pyro-panel-body h-100" style="overflow: auto">
        <a style="white-space: nowrap" class="org-body-text-color dropzone" [attr.data-folder-id]="project.dywaId">
            <i class="fas fa-fw fa-home"></i> 
            <span (contextmenu)="showContextMenu($event)">{{project.name}}</span>
        </a>
        <ul style="LIST-STYLE-TYPE: none;" class="pl-4">
            <li *ngFor="let entry of project.innerFolders" style="white-space: nowrap">
                <folder-entry
                        [folder]="entry"
                        [currentFile]="currentFile"
                        [project]="project"
                        [permissionVectors]="permissionVectors"
                        [handleDrop]="handleDrop"
                        (delete)="removeFolder($event)"
                        (hasDeleted)="hasDeletedSC.add($event)"
                        (hasChanged)="hasChangedSC.add($event)"
                        (createFile)="createFile($event)"
                        (createFolder)="createFolder($event)"
                        (openFile)="openFileSC.add($event)"
                ></folder-entry>
            </li>
            <li *ngFor="let file of project.files" style="white-space: nowrap">
                <file-entry
                        [file]="file"
                        [currentFile]="currentFile"
                        [project]="project"
                        [permissionVectors]="permissionVectors"
                        (openFile)="openFileSC.add($event)"
                        (hasChanged)="hasChangedSC.add($event)"
                        (createFile)="createFile($event)"
                        (createFolder)="createFolder($event)"
                        (delete)="deleteFile($event)"
                ></file-entry>
            </li>
        </ul>
    </div>
</div>

<create-file #createFileModal></create-file>
<create-folder #createFolderModal></create-folder>

