.pyro-alter-hide {
    opacity: 0;
    transform: translate(0,-100px);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.pyro-alter-show {
    opacity: 1;
    transform: translate(0,0);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.alert-container {
    display: block;
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 1px;
}

.alert {
    margin-bottom: .75rem;
    display: block;
    width: 40%;
    margin: .75rem auto 0 auto;
    box-shadow: 0px 3px 9px rgba(0,0,0,.5);
}
