<div class="context-menu-item" 
    #menuItem
	(mouseenter)="handleMouseenter" 
	(mouseleave)="showSubMenu = false"
	(click)="handleClick" 	
	[ngClass]="{'disabled': !item.enabled}"
>    
    <span class="context-menu-item-icon">
	  <i class="fas fa-fw {{item.icon}}" *ngIf="item.icon != null"></i>
	</span>
	<span class="context-menu-item-text">{{item.text}}</span>
	<span class="ml-2" *ngIf="item.subItems.length > 0">
	  <i class="fas fa-fw fa-caret-right"></i>
	</span>
	
	<div #subMenu class="context-sub-menu org-body-bg-color d-none" [class.d-block]="item.subItems.length > 0 && showSubMenu" [style.right.px]="offsetRight">
		<div *ngFor="let subItem of item.subItems">
	  		<context-menu-item [item]="subItem" *ngIf="isItem(subItem)"></context-menu-item>
	  		<div class="context-menu-separator" *ngIf="isSeparator(subItem)"></div>
	  		<div class="context-menu-group" *ngIf="isGroup(subItem)">
			  <small>{{asGroup(subItem).title}}</small>
			</div>
		</div>
	</div>
</div>