#context-menu {
  position: fixed;
  z-index: 9999;  
  min-width: 200px;
  border: 1px solid #333333;
  box-shadow: 0 4px 6px rgba(0,0,0,.4);
}

#context-menu .context-menu-separator {
  border-top: 1px solid rgba(255,255,255,.15);
  margin: .25rem 0;
}

.context-sub-menu {
  position: absolute;
  top: 0;
  min-width: 200px;
  border: 1px solid #333333;
  box-shadow: 0 4px 6px rgba(0,0,0,.4);
}

.context-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem;
  position: relative;
}

.context-menu-group {
  padding: .5rem;
  text-transform: uppercase;
}

.context-menu-item:hover {
  cursor: pointer;
  background: rgba(0,0,0,.1);
}

.context-menu-item.disabled {
  color: rgba(255,255,255,.3)
}

.context-menu-item.disabled:hover {
  cursor: none;
  background: none;
}

.context-menu-item .context-menu-item-icon {
  min-width: 20px;
  text-align: center;
}

.context-menu-item .context-menu-item-text {
  width: 100%;
  margin-left: .5rem;
}
