<div class="modal show d-block fade in" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectlabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<h4 class="modal-title" id="editProjectLabel">Edit Project {{project.name}}</h4>
                <button (click)="closeSC.add($event)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div *ngIf="hasBeenSaved" class="alert alert-success">
                    Changes has been saved!
                </div>
                <form (ngSubmit)="editProject()" >
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input [(ngModel)]="projectName" type="text" class="form-control" id="projectName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="projectDescription">Project Description</label>
                        <textarea [(ngModel)]="projectDescription" class="form-control" id="projectDescription" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group" *ngIf="canChangeOwner">
                    	<label>Owner</label>
                    	<select class="form-control" [(ngModel)]="selectedOwnerId">
                    		<optgroup label="Owners">
                    			<option *ngFor="let user of organization.owners" value="{{user.dywaId}}">{{user.username}}</option>
                    		</optgroup>
                    		<optgroup label="Members">
                    			<option *ngFor="let user of organization.members" value="{{user.dywaId}}">{{user.username}}</option>
                    		</optgroup>
                    	</select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="editProject()" type="button" class="btn btn-success">Edit Project</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="closeSC.add($event)">Close</button>
            </div>
        </div>
    </div>
</div>