<div class="modal show d-block" tabindex="-1" role="dialog" *ngIf="show">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<h4 class="modal-title">Delete {{type}}</h4>
                <button (click)="close()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <strong>{{name}}</strong></p>
            </div>
            <div class="modal-footer">
                <button (click)="delete()" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>
