<span #fileEl class="draggable" [attr.data-file-id]="file.dywaId">
	<div *ngIf="editMode" class="d-flex flex-row align-items-center mr-3">
    	<div class="mr-2">
        	<img *ngIf="hasIcon()" [src]="getIcon()" style="width: 16px; height: 16px; margin-right: 5px;">
        	<i *ngIf="!hasIcon()" class="fas fa-file"></i>
        </div>
        <form (ngSubmit)="save(null)" class="d-flex w-100 flex-shrink-0">
        	<input class="form-control w-100 py-0" type="text" [(ngModel)]="file.filename" style="height: auto;">
        	<div class="btn-group btn-group-sm">
	        	<button
	                class="btn btn-sm btn-dark"
	                (click)="save($event)"
	                type="submit"
	       	 	>
	            	<i class="fas fa-check"></i>
	        	</button>
	        	<span
	                class="btn btn-sm btn-dark"
	                (click)="editMode = false"
	       	 	>
	            	<i class="fas fa-times"></i>
	        	</span>
        	</div>
        </form>
    </div>

    <span *ngIf="!editMode">
        <i *ngIf="canContainPrime()" (click)="openPrimeRefs($event)" [ngClass]="getFolderClass()" data-toggle="tooltip" data-placement="bottom" title="Show available prime reference-elements"></i>
        <span *ngIf="hasIcon()" class="d-inline-block fa-fw">
          <img [src]="getIcon()" style="width: 14px; height: 14px;">
        </span>
        <i *ngIf="!hasIcon()" class="fas fa-fw fa-file"></i> 
        <span *ngIf="canRead(file)" (contextmenu)="showContextMenu($event)">
          <a href (click)="selectFile(file,$event)" class="org-body-text-color" data-toggle="tooltip" data-placement="bottom" title="Open file">
        	{{file.filename}}{{getExtension()}}
          </a>
        </span>
        <span *ngIf="!canRead(file)">
          <span style="color: rgba(255,255,255,.5);">
        	{{file.filename}}{{getExtension()}}
          </span>
        </span>
        <delete-entry
         	#deleteFileModal
	    	(delete)="deleteSC.add(file)"
	    ></delete-entry>
	    <share-entry
         	#shareFileModal
	    	(share)="share(file)"
	    ></share-entry>
    </span>
</span>

<ul *ngIf="canContainPrime()" [hidden]="!open" class="pl-4" style="LIST-STYLE-TYPE: none;">
	<li *ngFor="let entryGroup of getPrimeGroups(primeRefs).entries;trackBy: trackPrimeGroups"
        style="white-space: nowrap"
    >{{entryGroup.key}}<ul>
	    <li
	            *ngFor="let entry of getPrime(entryGroup.value);trackBy: trackPrime"
	            style="white-space: nowrap;"
	            class="grabbable"
	            draggable="true"
	            ondragstart="start_drag_element(event)"
	            [attr.data-typename]="entry.$type()"
	            [attr.data-elementid]="entry.dywaId"
	            data-toggle="tooltip" data-placement="bottom" title="Drag to canvas to create a Prime Reference"
	    >
	        {{getPrimeRefName(entry)}}
	    </li>
    </ul></li>
    
</ul>

