<span class="toggle-button" (click)="changedSC.add(!enabled)">
	<i class="fas fa-lg" [ngClass]="{'fa-toggle-on': enabled, 'fa-toggle-off': !enabled}"></i>
	<bs-tooltip placement="left">{{enabled ? 'Disable' : 'Enable'}}</bs-tooltip>
</span>