<ul style="LIST-STYLE-TYPE: none;" class="pl-0" *ngIf="currentNode!=null" #treenodeEl>
    <li style="white-space: nowrap clearfix">
		<i [ngClass]="getStatusSign()" (click)="clickOpen($event)"></i>
    	<a [class.org-body-text-color]="!isModal" href (click)="clickEntry($event)" (contextmenu)="showContextMenu($event)">{{currentNode.name}}</a>
    </li>
    <ul style="LIST-STYLE-TYPE: none;" *ngIf="open">
        <li *ngFor="let node of currentNode.children" style="white-space: nowrap; clearfix">
            <tree-node
                    [currentNode]="node"
                    [isModal]="isModal"
                    (hasSelected)="hasSelectedSC.add($event)"
                    (hasNew)="hasNewSC.add($event)"
                    (hasDeleted)="removeChild($event)"
            ></tree-node>
        </li>
    </ul>
</ul>